# Custom
#
# Ignoramos todos los subdirectorios (que no aparezcan)
/gestores-de-partidas/**
/modulos-de-analis/**
# Excluimos del ignore los archivos .tar.gz y .tgz (que si aparezcan)
!/modulos-de-analisis/stockfish/bin/README.org
!/gestores-de-partidas/*.tar.gz
!/gestores-de-partidas/*.tgz
!/modulos-de-analisis/*.zip

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# End of https://www.toptal.com/developers/gitignore/api/emacs

